<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="~/css/navbar.css" rel="stylesheet" />
	<link href="~/css/foodlist.css" rel="stylesheet" />
    <!-- For using font family -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anuphan:wght@200;500&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Google material -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0" />
    <style>
        .disabled {
            pointer-events: none;
            opacity: 1;
        }
    </style>
    <title>Restuarant A</title>
</head>

<body>
    <div class="container">

        <ul>
            <li style="float: left;">
                <a href="@Url.Action("login", "User")">
                    <span class="material-symbols-rounded logoutChange">
                        logout
                    </span> ออกจากระบบ
                </a>
            </li>
            <li style="float:left;" class="user disabled">
                <span class="material-symbols-rounded">person</span> @ViewBag.user
            </li>
            <li>
                <a href="@Url.Action("Worker", "Home")">
                    <span class="material-symbols-rounded">
                        motorcycle
                    </span> รับฝาก
                </a>
            </li>

            <li><a href="@Url.Action("ShoppingCart", "Home")"><span class="material-symbols-rounded">shopping_cart</span> รถเข็น</a></li>
            <li>
                <a onClick="history.back()">
                    <span class="material-symbols-rounded">
                        arrow_back
                    </span> ย้อนกลับ
                </a>
            </li>
        </ul>


        <div class="main">
            <h1 class="header">กรุณาเลือกเมนูอาหาร</h1>

            <div class="foodList">
                @for (var i = 0; i < ViewBag.foods.Count; i++)
                {
                <div class="foodCard">
                        <p class="foodName">@ViewBag.foods[i].Name</p>

                    <div class="imgSpace">
                     <img src="@ViewBag.foods[i].img_source" alt="@ViewBag.foods[i].Name">

                            <div class="cost">฿@ViewBag.foods[i].Price</div>
                    </div>

                        <button class="add" onclick="addtocart('@ViewBag.selectedRes','@ViewBag.foods[i].Name','@ViewBag.foods[i].Price','@ViewBag.foods[i].img_source')">+</button>
                        <script>
                            function addtocart(resname, foodname, foodprice, img_source) {
                                $.ajax({
                                    url: "/Home/addtocart",
                                    type: "POST",
                                    data: { resname:resname, foodname: foodname, foodprice: foodprice, img_source: img_source },
                                    success: function (message) {
                                        if(message=="Failed") alert("Shopping Cart is Full!!!");
                                    }
                                });
                            }
                        </script>
                </div>
                }
                
            </div>
        </div>
    </div>
</body>


@*
@{
    ViewBag.Title = "Home Page";
    //Layout = "~/Views/_Layout.cshtml";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
    <title></title>
    <style>
        body, h1, h2, h3, h4, h5, h6 {
            font-family: "Karma", sans-serif
        }

        .w3-bar-block .w3-bar-item {
            padding: 20px
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="w3-top">
        <div class="w3-white w3-xlarge" style="max-width:1150px;margin-right:auto">
            <div class="w3-right w3-padding-16">@Html.ActionLink("Menu", "Menu", "Home")</div>
        </div>
        <h3>@ViewBag.selectedRes</h3>
        @for (var i = 0; i < ViewBag.foods.Count; i++)
        {
            <div class="w3-quarter">
                <img src="@ViewBag.foods[i].img_source" alt="Sandwich" style="width: 100%; height: 170px;" />
                <h3>@ViewBag.foods[i].Name</h3>
                <p>@ViewBag.foods[i].Price</p>
                <button onclick="increaseValueBy('@ViewBag.foods[i].Name','@ViewBag.foods[i].Price',-1)"> - </button>
                <div id="@ViewBag.foods[i].Name"> 0 </div>
                <button onclick="increaseValueBy('@ViewBag.foods[i].Name','@ViewBag.foods[i].Price',1)"> + </button>
                <script>
                    function increaseValueBy(foodname, foodprice, value) {
                        $.ajax({
                            url: "/Home/IncreaseValueBy",
                            type: "POST",
                            data: { foodname: foodname, foodprice: foodprice, value: value },
                            success: function (newvalue) {
                                document.getElementById(foodname).innerHTML = newvalue;
                            }
                        });
                    }
                </script>
            </div>
        }
        <form method="post">
            <div>
                <button type="submit">Add to Cart</button>
            </div>
        </form>
    </div>
</body>*@