
@{
    ViewBag.Title = "Home Page";
    //Layout = "~/Views/_Layout.cshtml";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
    <title></title>
    <style>
        body, h1, h2, h3, h4, h5, h6 {
            font-family: "Karma", sans-serif
        }

        .w3-bar-block .w3-bar-item {
            padding: 20px
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="w3-top">
        <div class="w3-white w3-xlarge" style="max-width:1150px;margin-right:auto">
            <div class="w3-right w3-padding-16">@Html.ActionLink("Menu", "Menu", "Home")</div>
        </div>
        <h3>@ViewBag.selectedRes</h3>
        @for (var i = 0; i < ViewBag.foods.Count; i++)
        {
            <div class="w3-quarter">
                <img src="https://www.italian-feelings.com/wp-content/uploads/2016/08/halal-food.jpg" alt="Sandwich" style="width: 100%; height: 170px;" />
                <h3>@ViewBag.foods[i].Name</h3>
                <p>@ViewBag.foods[i].Price</p>
                <button onclick="increaseValueBy('@ViewBag.foods[i].Name',-1)"> - </button>
                <div id="@ViewBag.foods[i].Name"> 0 </div>
                <button onclick="increaseValueBy('@ViewBag.foods[i].Name',1)"> + </button>
                <script>
                    function increaseValueBy(foodname, value) {
                        $.ajax({
                            url: "/Home/IncreaseValueBy",
                            type: "POST",
                            data: { foodname: foodname, value: value },
                            success: function (newvalue) {
                                document.getElementById(foodname).innerHTML = newvalue;
                            }
                        });
                    }
                </script>
            </div>
        }
    </div>
</body>