<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	@*<link href="~/css/shoppingcart.css" rel="stylesheet" />*@
	<link href="~/css/navbar.css" rel="stylesheet" />
    <!-- For using font family -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anuphan:wght@200;500&display=swap" rel="stylesheet">
    
    <!-- Google material -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0" />

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Checkout</title>
    <style>
        h1 {
            text-align: center;
            margin-bottom: 1vh;
        }

        .foodList {
            width: 80vw;
            height: 50vh;
            margin-left: 10vw;
            margin-top: 20px;
            background-color: rgb(255, 249, 243);
            overflow: auto;
        }

            .foodList::-webkit-scrollbar {
                width: 10px;
            }

            .foodList::-webkit-scrollbar-track {
                background-color: transparent;
            }

            .foodList::-webkit-scrollbar-thumb {
                background: #ffdbae;
                border-radius: 10px;
            }

                .foodList::-webkit-scrollbar-thumb:hover {
                    background: #ffbd6c;
                }

        /*.foodCard
        {
            width: 100%;
            height: 200px;


            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        img
        {
            height: 85%;

            border-radius: 10px;
            left: 20px;
        }

        .foodName
        {
            font-size: 8vh;

            right: 13vw;
        }

        .cost
        {
            font-size: 8vh;
            right: 30px;

            left: 10vw;
        }

        .removeOrder
        {
            margin: 0px;
            padding: 1.1vh 1.5vh;

            right: 50px;

            font-size: 2.5vh;

            background-color: indianred;
            border-radius: 5px;
            border: none;
        }*/

        .foodCard {
            width: 100%;
            height: 200px;
            display: flex;
            align-items: center;
        }

        img {
            height: 85%;
            width: 16%;
            border-radius: 10px;
            left: 20px;
            object-fit: cover;
            object-position: center;
        }

        .foodName {
            font-size: 8vh;
            left: 3vw;
        }

        .cost {
            position: absolute;
            font-size: 8vh;
            right: 8vw;
        }

        .removeOrder {
            position: absolute;
            right: 2vw;
            margin: 0px;
            padding: 1.1vh 1.5vh;
            font-size: 2.5vh;
            background-color: indianred;
            border-radius: 5px;
            border: none;
        }

            .removeOrder:hover {
                background-color: crimson;
                cursor: pointer;
            }

            .removeOrder:active {
                background-color: indianred;
            }

        .line {
            width: 70%;
            height: 2px;
            background-color: lightgray;
            margin: 5px auto 5px auto;
        }

        .detailSubmitRow {
            display: flex;
            justify-content: space-between;
            width: 80vw;
            height: 30vh;
            margin-left: 10vw;
            margin-top: 20px;
        }

        .row {
            display: flex;
            justify-content: space-between;
        }

        .deHead {
            font-size: 50px;
        }

        .formHeader {
            font-size: 30px;
            padding: 15px 0px 15px 0px;
        }

        .input {
            font-size: 25px;
            width: 200px;
            height: 30px;
            margin-top: 20px;
            margin-left: 10px;
        }

        .total {
            font-size: 40px;
            margin-top: 7vh;
            left: 50px;
            padding-bottom: 20px;
        }

        .submit {
            width: 300px;
            height: 100px;
            margin: auto;
            padding-right: 10px;
            font-size: 50px;
            background-color: lightgreen;
            border: 2px solid darkslategray;
            border-radius: 10px;
            color: darkslategray;
        }

            .submit:hover {
                background-color: limegreen;
                cursor: pointer;
            }

            .submit:active {
                background-color: lightgreen;
            }

        .send {
            font-size: 50px !important;
        }

        .disabled {
            pointer-events: none;
            opacity: 1;
        }
    </style>
</head>

<body>
    <div class="container">

        <ul>
            <li style="float: left;">
                <a href="@Url.Action("login", "User")">
                    <span class="material-symbols-rounded logoutChange">
                        logout
                    </span> ออกจากระบบ
                </a>
            </li>
            <li style="float:left;" class="user disabled">
                <span class="material-symbols-rounded">person</span> @ViewBag.user
            </li>
            <li>
                <a href="@Url.Action("Worker", "Home")">
                    <span class="material-symbols-rounded">
                        motorcycle
                    </span> รับฝาก
                </a>
            </li>

            <li><a href="@Url.Action("ShoppingCart", "Home")"><span class="material-symbols-rounded">shopping_cart</span> รถเข็น</a></li>
            <li>
                <a onClick="history.back()">
                    <span class="material-symbols-rounded">
                        arrow_back
                    </span> ย้อนกลับ
                </a>
            </li>
        </ul>


        <div class="main">
            <h1 class="header">สรุปรายการ</h1>
            
            <!-- สี่เหลี่ยมใหญ่ๆ กลางจอ -->
            <div class="foodList">
                @{
                    int sum = 0;
                }
                @if (@ViewBag.shoppingcartdata != null && @ViewBag.shoppingcartdata.Count>0)
                {
                    @foreach (var order in @ViewBag.shoppingcartdata)
                    {
                        sum+= Int32.Parse(order.Value.Price);

                        int orderkey = order.Key;
                        <div class="foodCard">
                            <img src="@order.Value.img_source" alt="">
                            <p class="foodName">@order.Value.Name</p>
                            <p class="cost">฿@order.Value.Price</p>
                            <button class="removeOrder" onclick="deleteOrder('@orderkey')">X</button>
                        </div>
                        <script>
                            function deleteOrder(orderkey) {
                                $.ajax({
                                    url: "/Home/deleteOrder",
                                    type: "POST",
                                    data: { orderkey: orderkey },
                                    success: function (newvalue) {
                                        window.location.href = "/Home/ShoppingCart"; //reset page
                                    }
                                });
                            }
                        </script>
                        <div class="line"></div>
                    }
                }
                

            </div>

            <!-- กรอกข้อมูลผู้ฝาก -->
            <form class="detailSubmitRow" method="post">
                <div class="detail">
                    <p class="deHead">ข้อมูลผู้สั่ง</p>

                    <div class="row">
                        <p class="formHeader" >ชื่อ :</p>
                        <input type="text" name="name" class="input" required>
                    </div>

                    <div class="row">
                        <p class="formHeader" >เบอร์โทร :</p>
                        <input type="text" name="tel" class="input" required>
                    </div>

                    <div class="row">
                        <p class="formHeader" >จุดรับอาหาร :</p>
                        <input type="text" name="place" class="input" required>
                    </div>
                </div>
                @if (@ViewBag.shoppingcartdata != null && @ViewBag.shoppingcartdata.Count > 0)
                {
                    <div class="submitRow">
                        <p class="total">รวม: @sum.-</p>
                        <button class="submit">
                            <span class="material-symbols-rounded send">
                                send
                            </span> สั่ง
                        </button>
                    </div>
                }
                else{
                    <div class="submitRow">
                        <p class="total">รวม: @sum.-</p>
                        <button class="submit" disabled>
                            <span class="material-symbols-rounded send">
                                send
                            </span> สั่ง
                        </button>
                    </div>
                }
            </form>

        </div>
    </div>
</body>
@*@{
    ViewBag.Title = "Shopping Cart";
    //Layout = "~/Views/_Layout.cshtml";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
    <title></title>
    <style>
        body, h1, h2, h3, h4, h5, h6 {
            font-family: "Karma", sans-serif
        }

        .w3-bar-block .w3-bar-item {
            padding: 20px
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
        <h3>Shopping Cart</h3>
    @{int i = 1;}
    @foreach (var order in @ViewBag.shoppingcartdata)
        {
        int orderkey = order.Key;
        <div class="w3-quarter" style="border: solid black 3px">
            <h3>order ที่ @i</h3>
            @foreach(var foodlist in order.Value){
                string foodname = foodlist.Key;
                string foodprice = foodlist.Value.First;
                int foodcount = foodlist.Value.Second;
                <div>
                    @foodname จำนวน <span id="@orderkey@foodname">@foodcount</span> รายการ ราคา @foodprice รวมทั้งหมด <span id="@orderkey@foodname sum">@(@foodcount * @Int32.Parse(foodprice))</span> บาท
                    <button onclick="increaseValueBy('@orderkey','@foodname',@Int32.Parse(foodprice),-1)">-</button> <button onclick="increaseValueBy('@orderkey','@foodname',@Int32.Parse(foodprice),1)">+</button>
                    <br />
                    <script>
                        function increaseValueBy(orderkey, foodname, foodprice, value) {
                            $.ajax({
                                url: "/Home/ShoppingCartIncreaseValueBy",
                                type: "POST",
                                data: { orderkey: orderkey, foodname: foodname, value: value },
                                success: function (newvalue) {
                                    document.getElementById(orderkey + foodname).innerHTML = newvalue;
                                    document.getElementById(orderkey + foodname + " sum").innerHTML = newvalue * foodprice;
                                }
                            });
                        }
                    </script>
                </div>
			}
            <button onclick="deleteOrder('@orderkey')">ลบ order ทิ้ง</button>
            <script>
                function deleteOrder(orderkey) {
                    $.ajax({
                        url: "/Home/deleteOrder",
                        type: "POST",
                        data: { orderkey: orderkey },
                        success: function (newvalue) {
                            window.location.href = "/Home/ShoppingCart"; //reset page
                        }
                    });
                }
            </script>
            <div>ยอดทั้งหมด บวกเองละกันขก.</div>
        </div>
        i++;
        }
    @if (i > 1)
    {
        <form>
			<input type="text" placeholder="สถานที่รับ" name="sadasd">
            <button type="submit">สั่งทั้งหมด</button>
        </form> 
    }
    else
    {
        <div>you have no order</div>
    }
</body>*@