@{
    ViewBag.Title = "Worker";
}


<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <!-- For using font family -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anuphan:wght@200;500&display=swap" rel="stylesheet">
	<link href="~/css/worker.css" rel="stylesheet" />
    <!-- Google material -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0" />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        .disabled {
            pointer-events: none;
            opacity: 1;
        }
    </style>
    <title></title>
</head>
<body>




    <div class="header">

        <!--Content before waves-->
        <div class="inner-header flex">
            <!--Just the logo.. Don't mind this-->

            <h1>Welcome!</h1>
            <p1 style="font-size: 100%;">Please wait for our users </p1>


        </div>
        <!--ทำให้มันpopupขึ้น-->
@*        <div class="box">
            <a class="button" href="#popup1">Notification</a>
        </div>*@
        <!--ทำให้มันpopupขึ้น-->
        <!--Waves Container-->
        <div>
            <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                 viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
                <defs>
                    <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
                </defs>
                <g class="parallax">
                    <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
                    <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                    <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                    <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
                </g>
            </svg>
        </div>
        <!--Waves end-->

    </div>
    <!-- backend-->
    <div id="popup1" class="overlay" >
        <div class="popup">

            <a class="close" href="#">&times;</a>
            <p style=" font-size: 300%; text-align: center; display: block; margin-block-start: 1em; margin-block-end: 1em; margin-inline-start: 0px; margin-inline-end: 0px; ">Someone want to order</p>
            <div style="text-align:center">
                <button class="custom-btn btn-2" onclick="accept()" style=" background: linear-gradient(0deg, rgb(0, 202, 0) 0%, rgb(155, 255, 28)100%); ">Yes</button>
                <button class="custom-btn btn-2" onclick="closePopup()" style="background: linear-gradient(0deg, rgb(255, 28, 43) 0%,rgb(255, 64, 64)100%); ">No</button>
            </div>
        </div>
    </div>
    <script>
        var isPaused=false;
        var id=-1;
        $(function () {
            setInterval(function () {
                $.getJSON('@Url.Action("GetNotifications")', function (message) {
                    if(!isPaused && message!="Failed" && message!="Error"){
                        isPaused = true;
                        id=message;
                        window.location.href = '#popup1';
                    }
                });
            }, 5000);
        });
        function accept() {
            if(id<0){
                window.location.href = '/Home/Worker';
            }
            else{
                isPaused = false;
                $.ajax({
                    url: "/Home/Accept",
                    type: "POST",
                    data: { id: id },
                    success: function (message) {
                        clearInterval();
                        window.location.href = '/Home/CustomerInfo'; // go to order detaill
                    }
                });
            }
        }

        function closePopup(){
            if (id < 0) {
                window.location.href = '/Home/Worker';
            }
            else{
                isPaused = false;
                $.ajax({
                    url: "/Home/Decline",
                    type: "POST",
                    data: { id: id },
                    success: function (message) {
                        id=-1;
                        window.location.href = '#';
                    }
                });
            }
        }   
    </script>
    <!-- backend-->
    <ul>
        <li style="float: left;">
            <a href="@Url.Action("login", "User")">
                <span class="material-symbols-rounded logoutChange">
                    logout
                </span> ออกจากระบบ
            </a>
        </li>
        <li style="float:left;" class="user disabled">
            <span class="material-symbols-rounded">person</span> @ViewBag.user
        </li>
        <li>
            <a href="@Url.Action("Worker", "Home")">
                <span class="material-symbols-rounded">
                    motorcycle
                </span> รับฝาก
            </a>
        </li>

        <li><a href="@Url.Action("ShoppingCart", "Home")"><span class="material-symbols-rounded">shopping_cart</span> รถเข็น</a></li>
        <li>
            <a href="@Url.Action("Menu", "Home")">
                <span class="material-symbols-rounded">
                    arrow_back
                </span> ย้อนกลับ
            </a>
        </li>
    </ul>




</body>